<div class="text-center">
   <img class="logo" src="/image/logo.png" alt="Logo">
  <h1 class="display-4"> {{{title}}} </h1>


  {{#if user}}
    <a class="btn btn-primary btn" href="/ideas" role="button"> Ideas List </a>
    <a class="btn btn-outline-primary btn" href="/ideas/add" role="button"> Add Ideas </a>
  {{else}}
    <a class="btn btn-primary btn" href="/users/login" role="button"> Let's Start</a>
  {{/if}}

  
</div>