<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            
            <img class="logo" src="/image/logo.png" alt="Logo">

            <h3 class="text-center"> Register </h3>

            <form action="">
               
               <div class="form-group">
                    <label for="email"> Email </label>
                    <input type="email" name="email" class="form-control" required>
               </div>

               <div class="form-group">
                    <label for="password"> Password </label>
                    <input type="password" name="password" class="form-control" required>
               </div>

               <div class="form-group">
                    <label for="password"> Confirm Password </label>
                    <input type="password" name="confirmpassword" class="form-control" required>
               </div>

               <input type="submit" class="btn btn-primary" value="Register"> <a href="/users/login">Already Acc?</a>
            
            </form>

        </div>
    </div>
</div>